@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply px-4 py-2 border rounded-full cursor-pointer hover:shadow-lg active:scale-95 active:bg-gray-100 transition duration-100 ease-out;
  }
}

/* * {
  outline: 1px solid red;
}

 
  /* Custom Scrollbar */

  ::-webkit-scrollbar{
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track{
    background: none;
  }

  ::-webkit-scrollbar-thumb{
    background:#059669;
    border-radius: 10px;
  }

::-webkit-scrollbar-thumb:hover{
    background:#035d40;
    border-radius: 10px;
  }
